@model RSVP.Models.GuestResponse
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks</h2>

<div class="text-center">
    <h1>Спасибо, @Model.Name!</h1>
    <div class="lead">
        @if (Model.WillAttend == true)
            {
            @:Здорово что вы придете, напитки уже в холодильнике ;)
            }
            else
            {
            @:Жаль что вы не придете, но спасибо что дали об этом знать.
            }
    </div>
    @{
        try
        {
            // Before using this part, turn on security settings on https://myaccount.google.com/lesssecureapps
            WebMail.SmtpUseDefaultCredentials = false;

            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "test@gmail.com";
            WebMail.Password = "testpass";
            WebMail.From = "test";

            WebMail.Send("test@yandex.ru", "RSVP Приглашение",
                Model.Name + ((Model.WillAttend ?? false) ? " " : "не") + "придет");

        }
        catch (Exception e)
        {
            @:<b>К сожалению при отправке письма возникла ошибка. @e.Message</b>
            @e.Message
        }
    }
</div>

